{
    organism: "killifish"
    genome: ["GCF_001465895_FishTEDB_NR"]
    input_fasta: ["/home/benayoun/Softwares/cellranger-6.1.2/Reference/2021-12-02_GCF_001465895.1_MASKED_withFishTEDB_NR.fa"]
    input_gtf: ["/home/benayoun/Softwares/cellranger-atac-2.1.0/Reference/2022-04-20_GCF_001465895.1_genes_withFishTEDB_forATAC.gtf"]
    non_nuclear_contigs: ["NC_011814.1"]
    input_motifs: "/home/benayoun/Softwares/cellranger-atac-2.1.0/Reference/JASPAR2018_CORE_vertebrates_non-redundant_pfms_jaspar.txt"
}
